#buttons-parent {
	display: flex;
	flex-direction: row;
    position: absolute;
    top: 500px;
    left: 500px;
}
#asd {
	font-size: 18px;
	background: #49f539;;
	padding: 5px 18px;
    cursor: pointer;
    user-select: none;
}
#asd:nth-child(2) {
    background-color: red;
}

/* Notify */
#notify-wrapper {
	position:fixed; 
	left:0; 
	top:0; 
	right:0; 
	bottom:0; 
	opacity: 0.84;
	pointer-events: none;
	z-index: 10000000000000;
}
.notify-parent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -16.15vw;
    top: 0;
    margin: 0.8vw;
}
.notify-child {
    display: flex;
    flex-direction: row;
    width: 10vw;
    color: white;
    padding: 0.8vw 1vw;
    border-radius: 0.26vw;
    font-weight: bold;
    width: 13vw;
    margin-bottom: 0.26vw;
    user-select: none;
}
.notify-icon {
    margin: auto 0.9vw auto 0;
    font-size: 1vw;
}
.notify-text {
    font-size: 0.90vw;
    margin: auto 0;
}

/* Push */
.push-parent {
    position: relative;
    display: none;
    pointer-events: none;
}
.push {
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    position: absolute;
    width: max-content;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
}