#buttons-parent {
	display: flex;
	flex-direction: row;
    position: absolute;
    top: 500px;
    left: 500px;
}
#buttons-parent div {
	font-size: 18px;
	background: #49f539;;
	padding: 5px 18px;
    cursor: pointer;
    user-select: none;
}
#buttons-parent div:nth-child(2) {
    background-color: red;
}
.notify-parent {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -16.15vw;
    top: 0;
    margin: 0.8vw;
    z-index: 10000000;
}
.notify-child {
    display: flex;
    flex-direction: row;
    width: 10vw;
    color: white;
    padding: 0.8vw 1vw;
    border-radius: 0.26vw;
    font-weight: bold;
    width: 13vw;
    margin-bottom: 0.26vw;
    user-select: none;
}
.notify-icon {
    margin: auto 0.9vw auto 0;
    font-size: 1vw;
}
.notify-text {
    font-size: 0.90vw;
    margin: auto 0;
}